<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор оскорбоений</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Сайт с оскорблениями</h1>
    <form method="post" class="form-inline justify-content-center mb-4">
        <button type="submit" class="btn btn-primary">Запросить оскорбление</button>
    </form>

    <div class="result text-center">
        {% if insult %}
            <h3>Оскорбление: {{insult['insult']}}</h3>
        {% endif %}
    </div>
</div>

<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>